<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>EDIT</h1>

    <form action=<%= `/save-edit/${data.id}` %> method="post">
        <ul>
            <li>
                <label for="username">Username :</label>
                <input type="text" name="username" id="username" value=<%= data.username %>>
            </li>
            <li>
                <label for="password">Password :</label>
                <input type="text" name="password" id="password" value=<%= data.password %>>
            </li>
            <li>
                <label for="role">Role :</label>
                <input type="text" name="role" id="role" value=<%= data.role %>>
            </li>
            <li>
                <button type="submit" name="submit">Submit</button>
            </li>
        </ul>

    </form>
</body>

</html>