<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>HOME</h1>

    <table border="1">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Role</th>
            <th>Action</th>
            <th>Detail</th>
        </tr>
        <% data.forEach(el => { %>
        <tr>
            <td><%= el.username %></td>
            <td><%= el.password %></td>
            <td><%= el.role %></td>
            <td><a href=<%= `/edit/${el.id}` %>>Edit</a> | <a href=<%= `/delete/${el.id}` %>>Delete</a></td>
            <td><a href="">Biodata</a> | <a href="">History</a></td>
        </tr>
        <% }) %>
    </table>
    <br>
    <form action="/register">
        <button>Add User</button>
    </form>

</body>

</html>